#box1 {
    width: 100px;
    height: 100px;
    background: black;
    transition: width 2s, height 4s;
    transition-timing-function: linear;
}

#box1:hover {
    width: 300px;
    height: 300px;
}

#box2 {
    width: 100px;
    height: 100px;
    position: relative;
    background: red;
    animation-name: colorchange;
    animation-duration: 5s;
}

@keyframes colorchange {
    0% {
        background-color: red;
        left: 0;
        top: 0;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0;
    }
    50% {
        background-color: green;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: blue;
        left: 0;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0;
        top: 0;
    }
}
