#rounded1 {
    background: lightblue;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

#rounded2 {
    background: orange;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#rounded3 {
    background: darkolivegreen;
    color: white;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 300px;
    max-height: 300px;
}
